<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/class.css">
    <link rel="stylesheet" href="../css/Atag.css">
    <title>Change Username</title>
</head>
<body style="background-color: #f1f1f1"> 
    <div id="top"></div>
    <div id="login_box">
        <div id="login_header">Change password</div>
        <form action="/member/password_change_verify?UID=<%=UID%>" method="post">
            <div>
                <div>
                    <label for="newPassword" id="Label_style">old password</label>
                </div>
                <div>
                    <input type="password"  id="input_style" placeholder="Enter your password" name = "oldPassword" required>

                </div>
            </div>
            <div >
            </div>
                <div>
                    <label for="password" id="Label_style" >new password</label>
                <div>
                    <input type="password"  id="input_style" placeholder="Enter your password" name = "newPassword" required>
                </div>
                
            </div>

            
            
            <div>
                <button type="submit" id="submit_button" >submit</button>
            </div>
    
    
            <div id="Callback_style">
                <%=locals?.msg?msg:""%>
            </div>
        </form>
        <div>
            <a href="/member/member" id="Link_Style">Homepage</a>    
            <!-- <a href="/member/member">Main Page</a> -->
        </div>
    </div>
    
</body>
</html>



