<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/class.css">
    <link rel="stylesheet" href="../css/Atag.css">
    <title>Register</title>
</head>
<body style="background-color: #f1f1f1"> 
    <div id="top"></div>
    <div id="login_box">
        <div id="login_header">Register</div>
        <form action="/member/registering" method="post">
            <div>
                <div>
                    <label for="username" id="Label_style">Username</label>
                </div>
                <div>
                    <input type="text"  id="input_style" placeholder="Enter your username" name = "username" required>

                </div>
            </div>
            <div >
            </div>
                <div>
                    <label for="password" id="Label_style" >Password</label>
                <div>
                    <input type="password"  id="input_style" placeholder="Enter your password" name = "password" required>
                </div>
                <div>
                    <label for="password" id="Label_style" >ReEnter-Password</label>
                <div>
                    <input type="password"  id="input_style" placeholder="Re Enter your password" name = "re_password" required>
                </div>
            </div>

            
            
            <div>
                <button type="submit" id="submit_button" >Register</button>
            </div>
    
    
            <div id="Callback_style">
                <%=locals?.msg?msg:""%>
            </div>
        </form>
        <div>
            <a href="/member/login" id="Link_Style">Login</a>    
            <!-- <a href="/member/member">Main Page</a> -->
        </div>
    </div>
    
</body>
</html>





<!-- h1>Register</h1>
    <form action="/member/registering" method="post">
        <div>
            <label for="username" >Username</label>
            <input type="text"  id="username" placeholder="Enter your username" name = "username" required>
        </div>
        <div >
            <label for="password" >Password</label>
            <input type="password"  id="password" placeholder="Enter your password" name = "password" required>
        </div>
        <div >
            <label for="password" >ReEnter-Password</label>
            <input type="password"  id="re_password" placeholder="Re Enter your password" name = "re_password" required>
        </div>
        <button type="submit" >Register</button>

        <div style="color: red;">
            <%=locals?.msg?msg:""%>
        </div>
    </form> -->