<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    <h1>Homepage</h1>
    <h2>title= <%=Information[0].title%></h2>
    <h2>author= <%=Information[0].username%> </h2>

    <% Information.forEach((inf) => { %>
        <li>
            postname=<%= inf.title%>
        </li>
        <li>
            author=<%= inf.username%>
        </li>
        <br>
    <% }) %>
</body>
</html>