<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/class.css">
    <link rel="stylesheet" href="./css/Atag.css">
    <script src="./script/script.js"></script>
    <!-- <link rel="stylesheet" href="header_css.css">
    <link rel="stylesheet" href="aside_css.css">  
    <link rel="stylesheet" href="Main_Part_css.css">   -->
    
</head>
<body>
    <header>
        <div id="h1"><img src="./images/kita.png" id="logo"></div>
        <div id="title">site name</div>
        <div id="h2">
            <div id="search_box">search</div>
            <div id="Create_post">new post </div>
        </div>
        <div id="h3"><a href="member/login">login</a></div>        
        
    </header>
    <aside_half class="half-menu">
        <div class="menu purple">
            <div  id="menu_headerHide" style="background-color:#77569c;
             font-size: 20px;">
                <span onclick="show_menu()"><img id="menu_symbolHide" src="../images/menu_symbolFull.png" alt=""></span>
            </div>
            <a href="#"> <div class="icon_half">1</div></a>
            <a href="#"> <div class="icon_half">2</div></a>
            <a href="#"> <div class="icon_half">3</div></a>
    
        </div>
        <div class="menu purple">
            <div class="channel"></div>
            <a href="#"> <div class="icon_half">1</div></a>
            <a href="#"> <div class="icon_half">2</div></a>
            <a href="#"> <div class="icon_half">3</div></a>
            <a href="#"> <div class="icon_half">4</div></a>
            
            
        </div>
    </aside_half>

    <aside_full class="full-menu">
        <div class="menu purple">
        <div  id="menu_header" style="background-color:#77569c;
             font-size: 20px;">menu 
            <span onclick="hide_menu()"><img id="menu_symbol" src="./images/menu_symbol.png" alt=""></span>
        </div>
            <a href="#"><div class="channel">home</div></a>
            <a href="#"><div class="channel">popular </div></a>
        </div>
        <div class="menu purple">
            <div class="channel" style="text-align: left; padding-left: 15px;
             background-color:#77569c;
             font-size: 20px;">your channel</div>
            <a href="#"> <div class="channel">channel 1</div></a>
            <a href="#"> <div class="channel">channel 2</div></a>
            <a href="#"> <div class="channel">channel 3</div></a>
            <a href="#"> <div class="channel">channel 4</div></a>
            
        </div>
    </aside_full>
    


    <sidebar>
        <div id="side">
            <div id="suggestion_box">
                <div id="suggestion_header"></div>
                <div id="article"></div>
                <div id="article"></div>
                <div id="article"></div>
                
            </div>
        </div>
    </sidebar>

    
    <main>
        <div id="main_part" class="white">
            <div class=" center large">test</div>
            <div class=" center large">test</div>
            <div class=" center large">test</div>
            <div class=" center large">test</div>
            <div class=" center large">test</div>
            <div class=" center large">test</div>
            <div class=" center large">test</div>
            <div class=" center large">test</div>
            <div class=" center large">test</div>
            
        </div>
    </main>
    


    <!-- <div>
        <div>กรอกชื่อผู้ใช้ &nbsp;<input type="text"></div>
    </div> -->
    <!-- <div id="sticky1"> sticky note </div>
    <div id="sticky2"> sticky note</div> -->
    

</body>
</html>